.btn_primary {
  @apply font-bold;
  $speed: 0.5s;

  opacity: 1;
  line-height: 50px;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  text-transform: uppercase;

  &:hover {
    &:after {
      opacity: 1;
      transform: translateY(0) rotateX(0);
    }

    &:before {
      opacity: 0;
      transform: translateY(50%) rotateX(90deg);
    }
  }

  &:after {
    @apply text-white bg-intense-red-100;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    display: block;
    transition: $speed;
    position: absolute;
    content: attr(data-back);
    transform: translateY(-50%) rotateX(90deg);
  }

  &:before {
    @apply text-white bg-dark-blue-100 ring-1 ring-inset ring-intense-red-100;
    top: 0;
    left: 0;
    opacity: 1;
    display: block;
    padding: 0 30px;
    line-height: 50px;
    transition: $speed;
    position: relative;
    content: attr(data-front);
    transform: translateY(0) rotateX(0);
  }
}
