.toggle_btn {
  @apply flex items-center justify-center w-10 h-10 bg-white rounded-full cursor-pointer scale-100;

  transition: all 0.5s ease-in-out;

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
      scale: 1;
    }
    50% {
      transform: rotate(360deg);
      scale: 1.3;
    }
    100% {
      transform: rotate(360deg);
      scale: 1;
    }
  }

  &:hover {
    animation: rotation 1s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
}

.navbar__logo {
  @keyframes logoAnimation {
    0% {
      border-radius: 50%;
      scale: 1;
    }
    30% {
      transform: rotate(360deg);
      border-radius: 50%;
      scale: 1;
    }
    50% {
      transform: rotate(0deg);
      border-radius: 10%;
      scale: 1.3;
    }
    100% {
      border-radius: 50%;
      scale: 1;
    }
  }
  @apply flex w-10 h-10 text-dark-blue-100 bg-white  font-bold text-2xl rounded-full  items-center justify-center cursor-pointer;
  margin-top: 1rem;
  font-family: cursive;

  &:hover {
    animation: logoAnimation 2s ease-in-out;
  }
}

.navbar__container {
  @apply grid grid-rows-3 justify-items-center bg-dark-blue-100 relative w-fit h-screen z-50;
  box-shadow: rgb(0 0 0 / 15%) 0.75px 0.95px 2.6px;
}
